body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__column {
    display: flex;
    height: 100%;
    border: 2px solid #ccc;
}

#portfolio {
    flex-direction: column;
    align-items: center;
}

.portfolio {
    width: 100%; 
}

/* PC Viewport */
@media (min-width: 768px) {
    .main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #portfolio {
        order: 0;
        width: 40%;
        justify-content: center;
    }

    .portfolio {
        align-self: center;
        margin-top: 25vh;
        margin-bottom: 25vh;
        width: auto;
    }

    #biography {
        order: 1;
        position: sticky;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        height: 100vh;
        width: 18em;
        min-width: 40%;
        flex-direction: column;
        justify-content: center;
    }

    #experience {
        order: 2;
    }
}

/* Information that is not displayed on main page */

.--null {
    display: none;
}

/* Biography About Button */
#if__biography__about {
    display: none;
}

.biography__picture {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
    height: 18em;
}

.biography__about {
    opacity: 1;
    margin-top: 10px; /* Adjust as needed */
}


@media (min-width: 768px) {
    .biography__about {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
    }
    
    .biography__about--show {
        opacity: 1;
    }
    
    .biography__picture {
        align-items: flex-start;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
    }
    
    .biography__picture--show {
        opacity: 1;
    }
    
    #if__biography__about {
        transition: transform 0.5s ease;
        display: inline-block;
    }
}

/* Project Display */

.project__button {
    border: 2px solid #000;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.project__detail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 3vmin;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.project__detail--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.detail__video {
    display: flex;
    justify-content: center;
}

.video {
    object-fit: contain;
    overflow: hidden;
}

@media (min-width: 768px) {
    .project__detail {
        margin-left: 40vw;
        width: 40%;
    }
}


.biography {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.biography--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.detail__video {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.detail__video--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.detail__contribution {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.detail__contribution--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.detail__description {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.detail__description--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.detail__redirect {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.detail__redirect--show {
    opacity: 1;
    transition: opacity 0.2s ease;
}